.MainContent {
    background-color: #efecec;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px 500px 1fr;
}

.GraphArea {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;

}

.MainTitle {
    grid-column: 1 / span 3;
    grid-row-start: 1;
    text-align: center;
    background-color: #62929a;
    color: #efecec;
}

.BarChart {
    align-self: end;
    text-align: center;

}

.BarChart:nth-of-type(odd) {
    background-color: #363434;
    color: #efecec;
}

.BarChart:nth-of-type(even) {
    background-color: #62929a;
}
